<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monade Watch</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light shadow-lg fixed-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Monade Watch</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-right"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>

            <!-- dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#catalogproducts"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Catalog Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/men-catalog">Men</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/women-catalog">Women</a>
                </li>
              </ul>
            </li>
            <!-- close dropdown -->
          </ul>
          <!-- close products -->
          <div class="d-grid gap-2 d-md-block">
            <a href="/login">
              <button class="btn btn-success" type="button">SIGN IN</button>
            </a>
            <a href="/register">
              <button class="btn btn-success" type="button">SIGN UP</button>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid banner">
      <div class="container">
        <!-- <h4 class="display-6">Welcome to Monade Watch Store!</h4> -->
        <a href="#catalogproducts">
          <button type="button" class="btn btn-danger btn-lg">
            Know More!
          </button>
        </a>
      </div>
    </div>
    <!-- catalog -->
    <div class="container-fluid men pt-5 pb-5">
      <div class="container text-center">
        <h2 class="display-3" id="catalogproducts">New Arrivals</h2>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
          doloribus.
        </p> -->

        <div class="card-group">
          <div class="card">
            <img
              src="https://a.1stdibscdn.com/vacheron-constantin-traditionnelle-4020t-000g-b655-auto-watch-18k-white-gold-41m-for-sale/j_21852/j_164164521657812004275/j_16416452_1657812004868_bg_processed.jpg?disable=upscale&auto=webp&quality=60&width=1318"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                Vacheron Constantin Traditionnelle 4020T/000G-B655 Auto Watch
                18k White Gold
              </h5>
              <p class="card-text mt-4">
                Vacheron Constantin Traditionnelle Complete Calendar Openface in
                18k white gold on a leather strap. Auto w/ date, day, month and
                moonphase. 41 mm case size.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://a.1stdibscdn.com/vacheron-constantin-overseas-4500v-000r-b127-18k-rose-gold-41mm-auto-watch-for-sale/j_21852/j_164166121657812746611/j_16416612_1657812747211_bg_processed.jpg?disable=upscale&auto=webp&quality=60&width=1318"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                Vacheron Constantin Overseas 4500V/000R-B127 18k rose gold 41mm
                auto watch
              </h5>
              <p class="card-text mt-4">
                Vacheron Constantin Overseas 4500V/000R-B127 watch on a Rubber
                strap with a 18k rose gold Deploy buckle. This Vacheron
                Constantin watch has a 41 mm case with a Round caseback and
                Silver Stick dial.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://a.1stdibscdn.com/cartier-ballon-bleu-w69004z2-18k-rose-gold-mens-watch-for-sale/22569652/j_149501321646310117442/j_14950132_1646310118196_bg_processed.jpg?disable=upscale&auto=webp&quality=60&width=1318"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                Cartier Ballon Bleu W69004Z2 18K Rose Gold Mens Watch
              </h5>
              <p class="card-text mt-4">
                Cartier Ballon Bleu W69004Z2 Mens Watch. 36mm 18k rose gold
                case. 18K rose gold bezel. Silver dial with blue steel hands and
                Roman numeral hour markers. Minute markers on the inner dial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="footer">
      <div class="row">
        <div class="footer-col">
          <h4>Ikuti Kami</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <h4>Layanan</h4>
          <ul>
            <li><a href="#">Bantuan</a></li>
            <li><a href="#">Metode Pembayaran</a></li>
            <li><a href="#">Hubungi Kami</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Jelajahi</h4>
          <ul>
            <li><a href="/aboutus">Tentang Kami</a></li>
            <li><a href="#">Kebijakan Provasi</a></li>
            <li><a href="#">Kontak Media</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- AKHIR FOOTER -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer responsive</title>
    <link rel="stylesheet" href="style.css" />
    <script src="fontawesome/all.js"></script>
  </head>
</html>
